In [1]:
"""
1. enumerate()

    enumerate(iterable, start=0)
"""

fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

"""
    output:
    0 apple
    1 banana
    2 cherry
"""

0 apple
1 banana
2 cherry

'\n    output:\n    0 apple\n    1 banana\n    2 cherry\n'

In [ ]:
def weak_num(num):
    """Return the number of divisors of a given number."""
    count = 0
    for i in range(1, int(num ** 0.5) + 1):
        if num % i == 0:
            count += 1
            if i != num // i:
                count += 1
    return count

In [2]:
def is_prime(n):
    """Check if a number is prime."""
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

In [3]:
"""
1. enumerate()

    enumerate(iterable, start=0)
"""

fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

"""
    output:
    0 apple
    1 banana
    2 cherry
"""

0 apple
1 banana
2 cherry

'\n    output:\n    0 apple\n    1 banana\n    2 cherry\n'

In [4]:
"""
2. replace()

  string.replace(old, new, count)

"""

text = "Hello world, world is beautiful!"
new_text = text.replace("world", "Earth")
print(new_text)
# Output: "Hello Earth, Earth is beautiful!"

text_2 = "Hello world, world is beautiful!"

# Replacing only the first occurrence
limited_text = text_2.replace("world", "Earth", 1)
print(limited_text)
# Output: "Hello Earth, world is beautiful!"

Hello Earth, Earth is beautiful!
Hello Earth, world is beautiful!

In [5]:
""""
3. strip()

    string.strip(characters)
"""

text = "   Hello World!   "
cleaned_text = text.strip()
print(cleaned_text)
# Output: "Hello World!"

# Removing specific characters
text_with_symbols = "***Hello World!!!***"
cleaned_symbols = text_with_symbols.strip("*!")
print(cleaned_symbols)
# Output: "Hello World"

# Using `lstrip()` and `rstrip()` to remove only from left or right
left_stripped = text.lstrip()
right_stripped = text.rstrip()
print(left_stripped)  # "Hello World!   "
print(right_stripped) # "   Hello World!"

Hello World!
Hello World
Hello World!
   Hello World!

In [6]:
""""
4. using replace and strip together
"""

raw_text = "   Hello, world! world!   "
cleaned_text = raw_text.strip().replace("world", "Earth")
print(cleaned_text)
# Output: "Hello, Earth! Earth!"

Hello, Earth! Earth!

In [7]:
"""
5a. zip()

  zip(iterable1, iterable2, ...)

"""

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

zipped = list(zip(names, ages))
print(zipped)

print(type(zipped[0]))

# using for loop with zip
for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]
<class 'tuple'>
Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

In [8]:
"""

5b.Using zip() with Three or More Iterables

"""

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "Los Angeles", "San Francisco"]

zipped = zip(names, ages, cities)
print(list(zipped))

[('Alice', 25, 'New York'), ('Bob', 30, 'Los Angeles'), ('Charlie', 35, 'San Francisco')]

In [9]:
"""

5c. Unzipping with zip()

"""

zipped_list = [('Alice', 25, 'New York'), ('Bob', 30, 'Los Angeles'), ('Charlie', 35, 'San Francisco')]
names, ages, cities = zip(*zipped_list)

print(names)  # ('Alice', 'Bob', 'Charlie')
print(ages)   # (25, 30, 35)
print(cities) # ('New York', 'Los Angeles', 'Chicago')

('Alice', 'Bob', 'Charlie')
(25, 30, 35)
('New York', 'Los Angeles', 'San Francisco')

In [10]:
"""
5d. Using zip() with dictionaries
"""

student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
names, scores = zip(*student_scores.items())

print(names)   # ('Alice', 'Bob', 'Charlie')
print(scores)  # (85, 90, 78)

('Alice', 'Bob', 'Charlie')
(85, 90, 78)

In [1]:
list.remove(1)

TypeError: descriptor 'remove' for 'list' objects doesn't apply to a 'int' object

In [2]:
def solution_wrong(n, lost, reserve):
    for i in lost:    # VERY DANGEROUS : if we use sets, this is okat but we gotta make a copy of a list if we use lists
        if i in reserve:
            lost.remove(i)
            reserve.remove(i)
    cnt = n-len(lost)
    for i in lost:
        if i - 1 in reserve:
            reserve.remove(i - 1)
            cnt+=1
        elif i + 1 in reserve:
            reserve.remove(i + 1)
            cnt+=1
        else:
            continue

    return cnt

In [ ]:
ord('a')

In [ ]:
# lamnbda functions
# number 74

id_list = ["alice", "bob", "charlie", "dave"]
report_count = {
    "alice": 3,
    "bob": 1,
    "charlie": 5,
    "dave": 2
}
k = 2

suspended_users = set(filter(lambda user: report_count[user] >= k, id_list))

print(suspended_users)

In [2]:
# MAP_1

# List of numbers as strings
numbers_str = ["1", "2", "3", "4", "5"]

# Convert each string to an integer using map()
numbers_int = list(map(int, numbers_str))

print(numbers_int)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [3]:
# MAP_2

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Use map() with a lambda function to square each number
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
# MAP_3

# List of words
words = ["hello", "world", "python"]

# Convert each word to uppercase
uppercase_words = list(map(str.upper, words))

print(uppercase_words)  # Output: ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']

In [5]:
value = 56
bin(value)

'0b111000'

In [1]:
numbers = [1, 2, 3]
numbers.append(4)  # Adding a single element
print(numbers)  # Output: [1, 2, 3, 4]

numbers.append([5, 6])  # Adding a list (nested)
print(numbers)  # Output: [1, 2, 3, 4, [5, 6]]

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [2]:
umbers = [1, 2, 3]
numbers.extend([4, 5])  # Adding elements from another list
print(numbers)  # Output: [1, 2, 3, 4, 5]

numbers.extend("abc")  # Adding characters from a string
print(numbers)  # Output: [1, 2, 3, 4, 5, 'a', 'b', 'c']

[1, 2, 3, 4, [5, 6], 4, 5]
[1, 2, 3, 4, [5, 6], 4, 5, 'a', 'b', 'c']